

#prompt{
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #f94f4f9f;
    width: 10%;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #333;
    cursor: pointer;
}